@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Klee+One&display=swap');

body {
    background-color: goldenrod;
    font-family: "Bree Serif", serif;
}
h1{
    color:darkslategray;
}
h2{
    color:brown;
}
h3{
    color:blue;
}
#my-avatar{
    width: 150px;
    border-radius: 50%;
}

#content{
    text-align: center;
}
#my-name {
    font-family: "Klee One", cursive;

}